.section-card {
  max-width: 144rem;
  height: 100vh;
  background-color: var(--yellow);
  display: grid;
  place-items: center;
  margin: auto;
}

.card {
  background-color: var(--white);
  max-width: 38.4rem;
  padding: 2.4rem 2.4rem 1.8rem 2.4rem;
  border-radius: 1.6rem;
  box-shadow: 8px 8px 0 var(--black), inset 0 0 0 1px var(--black);

  &__img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__content {
    margin-top: 2rem;
  }

  &__tag {
    display: inline-block;
    background-color: var(--yellow);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 800;
    padding: 6px 12px;
  }

  &__time {
    display: inline-block;
    margin-top: 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 800;
    margin-top: 1.2rem;
  }

  &__heading-link {
    transition: all 200ms ease;
    &:link,
    &:visited {
      color: var(--black);
    }

    &:hover,
    &:active {
      color: var(--yellow);
    }
  }

  &__text {
    margin-top: 1.2rem;
    font-size: 1.6rem;
    color: var(--grey);
    font-weight: 500;
  }

  &__author-wrap {
    margin-top: 2.2rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
  }

  &__author-img {
    width: 3.2rem;
  }

  &__author-name {
    font-size: 1.4rem;
    font-weight: 800;
  }
}
