.section-card {
  max-width: 144rem;
  height: 100vh;
  background-color: var(--yellow);
  display: grid;
  place-items: center;
}

.card {
  background-color: var(--white);
  max-width: 32rem;
  padding: 1.6rem;
  border-radius: 1.6rem;

  &__header {
  }

  &__img {
    width: 100%;
    border-radius: 1rem;
  }
}
