@font-face {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  src: url(../../assets/fonts/Figtree-VariableFont_wght.ttf), format("ttf");
  src: url(../../assets/fonts/static/Figtree-SemiBold.ttf), format("ttf");
}

@font-face {
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  src: url(../../assets/fonts/Figtree-VariableFont_wght.ttf), format("ttf");
  src: url(../../assets/fonts/static/Figtree-ExtraBold.ttf), format("ttf");
}
