// @use "../util" as u;
@font-face {
  font-family: "Figtree";
  src: url(../../assets/fonts/Figtree-VariableFont_wght.ttf), format("ttf");
  src: url(../../assets/fonts/static/Figtree-SemiBold.ttf), format("ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Figtree";
  src: url(../../assets/fonts/Figtree-VariableFont_wght.ttf), format("ttf");
  src: url(../../assets/fonts/static/Figtree-ExtraBold.ttf), format("ttf");
  font-style: normal;
  font-weight: 800;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--yellow);
}

body {
  font-family: "Figtree";
}
